body{
    margin: 0%;
    font-family:'Playfair Display', serif;;
}

h1{
    font-size: 50px;
    margin: 0;
}

h2{
    margin: 0;
}

p{
    text-align: justify;
}

section{
    display: flex;
    margin-bottom: 0;
}

.name-color{
    color: steelblue;
}

.description{
    width: 50%;
    padding-top: 30px;
    padding-left: 25px;
}

button{
    background-color: aqua;   
    border-radius: 10px;
    font-weight: 550;
}

.first-image{
    width: 50%;
}

.first-image img{
    height: 500px;
    width: 350px;
    padding: 50px 25%;
}

.top-banner{
    background-image: url("show-off/top-banner.png");
    background-repeat: no-repeat;
}

.middle-banner{
    background-image: url("show-off/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.second-image{
    width: 50%;
}

.second-image img{
    height: 500px;
    width: 350px;
    padding: 50px 25%;
}

.dream-big{
    width: 50%;
    padding-top: 20px;
    padding-right: 0;
    margin-right: 0%;
}
